<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      เพิ่มสถานที่
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-header style="padding-bottom: 1px">
    <ion-row>
      <ion-card-subtitle>สถานที่จัดส่ง</ion-card-subtitle>
      <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
        <ion-segment-button value="standard">
          <ion-label>บ้าน</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hybrid">
          <ion-label>ที่ทำงาน</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sat">
          <ion-label>สถานที่อื่น</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-card-header>
  <ion-card-content style="padding-top: 1px">
    <ion-item>
      <ion-label class="input-text" position="floating" required>ชื่ออาคาร/คอนโด :</ion-label>
      <ion-input class="input-text" [(ngModel)]="developer.locationName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="input-text" position="floating" required>ถนน/ซอย :</ion-label>
      <ion-input class="input-text" [(ngModel)]="developer.roadName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="input-text" position="floating">ชั้น/ห้อง :</ion-label>
      <ion-input class="input-text" [(ngModel)]="developer.floor_room"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="input-text" position="floating" required>รายละเอียด :</ion-label>
      <ion-textarea class="input-text" clearOnEdit="true" [(ngModel)]="developer.tel"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label class="input-text" position="floating" required>เบอร์โทร :</ion-label>
      <ion-input class="input-text" [(ngModel)]="developer.locationDetail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="input-text" position="floating" required>เบอร์โทร :</ion-label>
      <ion-input class="input-text" [(ngModel)]="developer.gpsValue"></ion-input>
    </ion-item>
  </ion-card-content>

</ion-content>

<!-- Footer  -->
<ion-footer>
  <ion-row>
    <ion-toolbar class="ion-text-center">
      <ion-button color="medium" (click)="cancel()">ยกเลิก</ion-button>
      <ion-button (click)="addDeveloper()">ยืนยัน</ion-button>
    </ion-toolbar>
  </ion-row>
</ion-footer>
<!-- /Footer -->