<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

  <ion-item lines="none">
    <ion-label>Username :</ion-label>
    <ion-input placeholder="washeasy@email.com" type="text" value="" [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Password :</ion-label>
    <ion-input placeholder="Password" type="password" value="" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button (click)="fnLogin()" class="ion-text-center">Sign in</ion-button>
</ion-content> -->

<ion-content padding>
  <form>
    <ion-row>
      <ion-col>
        <ion-img></ion-img>
        <ion-list>
          <ion-item>
            <ion-label>Username :</ion-label>
            <ion-input placeholder="we@email.com" type="text" value="" [(ngModel)]="user.username" name="username">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password :</ion-label>
            <ion-input placeholder="********" type="password" value="" [(ngModel)]="user.password" name="password">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="fnLogin()">Sign in</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>