<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WASH-MAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <h4 class="ion-text-center" style="color: black;">
      Order รอรับผ้า
    </h4>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <!-- <ion-item lines="none" *ngFor="let order of orders">
        <ion-row (click)="acceptOrder(order.id)">
          <ion-label>{{order.name}}</ion-label>
        </ion-row>
      </ion-item> -->
      <ion-item *ngFor="let res of resent.status">
        <ion-row (click)="fetchAddress(res.tid)">
          <ion-label>{{res.user_id}}&nbsp;</ion-label>
          <ion-label>{{res.user_address}}</ion-label>
        </ion-row>
        <ion-row style="float: right;">
          <ion-button style="float: right;">รับคำร้อง</ion-button>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>