<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WASH-MAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <h4 class="ion-text-center" style="color: black;">
      Order รอรับผ้า
    </h4>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="resent.length==0" lines="none">ไม่มี Order</ion-item>
      <ion-item *ngFor="let res of resent">
        <ion-row>
          <ion-label>Order : {{res.tid}}&nbsp;</ion-label>
          <!-- <ion-label>{{res.user_address}}</ion-label> -->
        </ion-row>
        <ion-row style="float: right;">
          <ion-button style="float: right;" (click)="fetchAddress(res.tid)">รับคำร้อง</ion-button>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <h4 class="ion-text-center" style="color: black;">
      Order ที่รับผ้าแล้ว
    </h4>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="status.length==0" lines="none">ไม่มี Order</ion-item>
      <ion-item *ngFor="let res of status">
        <ion-row>
          <ion-label>Order : {{res.tid}}&nbsp;</ion-label>
          <!-- <ion-label>{{res.user_address}}</ion-label> -->
        </ion-row>
        <ion-row style="float: right;">
          <ion-button style="float: right;" (click)="takeOrder(res.tid)">รับแล้ว</ion-button>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>