<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center" style="color: black;">
      ORDER รอรับ
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let order of orders">
          <ion-row>
            <ion-label>{{order.name}}</ion-label>
            <ion-button class="ion-text-right">รับ</ion-button>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>