<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">จัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-button color="secondary" fill="clear" (click)="closeModal()">
        <ion-label class="locationListText">บ้านแมวเหมียว</ion-label>
      </ion-button>
      <ion-icon fill="clear" slot="icon-only" name="more" slot="end" (click)="notifications()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button color="secondary" fill="clear" (click)="closeModal()">
        <ion-label class="locationListText">ที่ทำงาน</ion-label>
      </ion-button>
      <ion-icon fill="clear" slot="icon-only" name="more" slot="end" (click)="notifications()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button color="secondary" fill="clear" (click)="closeModal()">
        <ion-label class="locationListText">บ้านแฟน</ion-label>
      </ion-button>
      <ion-icon fill="clear" slot="icon-only" name="more" slot="end" (click)="notifications()"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="secondary" (click)="addLocation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Footer  -->
<!-- <ion-footer style="height: 15%;">
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="secondary" (click)="closeModal()" fill="clear">ตกลง</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="medium" (click)="closeModal()" fill="clear">กลับ</ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->